# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.db

# Environment variables file
.env

# IDE-specific directories
.idea/
.vscode/
.venv/
venv/

# Flask specific files
instance/
*.pyc