[Unit]
Description=System Admin Toolkit Log Collection Service
After=network.target

[Service]
Type=simple
User=vuser
WorkingDirectory=/var/www/systemadmin-toolkit
ExecStart=/var/www/systemadmin-toolkit/venv/bin/python3 /var/www/systemadmin-toolkit/setup/log_pipeline_service.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target