[Unit]
Description=System Admin Toolkit Log Collection Service
After=network.target

[Service]
Type=simple
User=vuser
WorkingDirectory=/var/www/systemadmin-toolkit
ExecStart=/var/www/systemadmin-toolkit/venv/bin/python3 /var/www/systemadmin-toolkit/setup/log_service_pipeline.py
Restart=always
RestartSec=5
Environment="PATH=/var/www/systemadmin-toolkit/venv/bin"
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target